# cached files
*_cache
# binary data
*.h5
*Suggested*.tsv
*.mat
*.RData
*.log
*.txt
*.so
# R related
.Rproj.user
.Rhistory
.RData
.Ruserdata
# mcmc related
PosteriorSamples
.ipynb_checkpoints
inst/doc
# model archives
*.zip
*.tar.gz
*.mod
.DS_Store
/doc/
/Meta/
*_cache
